* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    height: auto;
    background-color: white;
}

.nav-1 {
    width: 100%;
    height: 40px;

    position: relative;
}

.br {
    color: black;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
    width: 130px;
    height: 30px;
}

.about-2 {
    width: 300px;
    height: 30px;
    position: absolute;
    right: 50px;
    top: 0;
}

.ul-list li {
    display: inline-block;
    list-style: none;
}

.li-list {
    margin-left: 20px;
    font-size: 20px;
}

.main {
    width: 100%;
    height: auto; 
    position: relative;
}

.br-architect-div{
    width: max-content;
    height: max-content;
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

.pic-1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.arch {
    width: 100px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.72);
    font-size: 50px;
    color: white;
    text-align: center;
}

.arch-1 {
    width: 200px;
    height: auto;
    margin-left: 20px;
    font-size: 40px;
    color: white;
    text-align: center;
    letter-spacing: 5px;
}

.section-1 {
    width: 100%;
    height: auto;
    background-color: white;
}

.projects {
    width: 100px;
    height: auto;
    color: black;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 30px;
}

.line {
    width: 92%;
    height: 1px;
    border: 1px solid rgba(192, 192, 192, 0.442);
    margin-left: 50px;
    margin-top: 30px;
}

.boxer {
    width: 95%;
    height: auto;
    margin: 30px auto;
}

.box-1, .box-2 {
    width: 24%;
    height: auto;
    display: inline-block;
    position: relative;
    margin-top: 10px;
    margin-left: 5px;
}
.box-2 {
    margin-left: 5px;
}
.pic-1-box-1 {
    width: 100%;
    height: auto;
}

.summer {
position: absolute;
left: o;
top: 0;
background-color: #000;
color: white;
width: 150px;
height: 40px;
text-align: center;
padding-top: 5px;
font-size: 20px;
}

.section-2 {
    width: 100%;
    height: auto;
}

.about-div {
    width: 100px;
    height: auto;
    margin-left: 40px;
    font-size: 30px;
}

.line-2 {
    width: 93%;
    height: 1px;
    border: 1px solid rgba(128, 128, 128, 0.569);
    margin-left: 50px;
    margin-top: 30px;
}
.pargh {
    width: 92%;
    height: auto;
    margin-left: 50px;
    color: black;
    font-size: 18px;
   line-height: 22px;
   margin-top: 20px;
}

.boxer-2 {
    width: 95%;
    height: auto;
    /* border: 1px solid #000; */
    margin-left: 50px;
    margin-top: 40px;
}

.box-1-boxer-2 {
    width: 24%;
    height: auto;
    display: inline-block;
}

.boxer-2-pic-1 {
    width: 100%;
    height: auto;
}

.name-1 {
    color: black;
    font-size: 30px;
}
.ceo {
    color: #000;
    font-size: 20px;
}
.pp-1 {
    color: black;
    font-size: 20px;
}
.button-1 {
    width: 350px;
    height: 40px;
    margin-top: 20px;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    font-size: 20px;
}
.button-1:hover{
    background-color: #c8c8c8;
} 


.section-3 {
    width: 100%;
    height: auto;
    /* border: 1px solid #000; */
    display: inline-block;

} 

.contect {
    color: #000;
    font-size: 25px;
    margin-left: 45px;
    margin-top: 20px;
}

.line-3 {
    width: 95%;
    height: 1px;
    border: 1px solid rgba(128, 128, 128, 0.335);
    margin-left: 50px;
    margin-top: 30px;
} 

.pp-section-3 {
    color: black;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 30px;
}

.name {
    width: 95%;
    height: 40px;
   margin-left: 40px;
   margin-top: 15px;
   border: 1px solid silver;
   padding-left: 10px;
   font-size: 16px;
   outline: none;
}

.email{
    width: 95%;
    height: 40px;
   margin-left: 40px;
   margin-top: 15px;
   border: 1px solid silver;
   padding-left: 10px;
   font-size: 16px;
   outline: none;
}

.subject {
    width: 95%;
    height: 40px;
   margin-left: 40px;
   margin-top: 15px;
   border: 1px solid silver;
   padding-left: 10px;
   font-size: 16px;
   outline: none;
}

.comment {
    width: 95%;
    height: 40px;
   margin-left: 40px;
   margin-top: 15px;
   border: 1px solid silver;
   padding-left: 10px;
   font-size: 16px;
   outline: none; 
}

.send {
    width:  160px;
    height: 40px;
    background-color: #000;
    color: white;
    margin-left: 40px;
    margin-top: 20px;
    border: 1px solid #000;
    font-size: 15px;
    text-transform: uppercase;
}

.send:hover {
    background-color: grey;
    border: 1px solid grey;
    color: black;
} 

.footer-pic {
    width: 100%;
    height: auto;
    background-color: white;
    margin-top: 40px;
}

.picture-last {
    width: 100%;
    height: 100%;
}

.last {
    width: 100%;
    height: auto;
    background-color: #000;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.name-my {
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 30px;

}


  /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

    @media screen and (max-width:900px) {
        .box-1,.box-2 {
            width: 48%;
        }
        
        .box-1-boxer-2 {
            width: 48%;
        }
        .name,.email,.subject,.comment,.line-3,.line,.line-2 {
            width: 90%;
        }
    }



  @media screen and (max-width: 600px) {
     .about-2 {
        width: 100%;
        display: none;
    } 
    .br {
        font-size: 20px;
        padding-left: 10px;
    }
    .arch-1{
        width: 75%;
        display: none;
    
    }
    .projects {
        margin-top: 20px;
        font-size: 20px;
    }
    .box-1,.box-2 {
        width: 100%;
    }
    .box-1-boxer-2 {
        width: 100%;
    }
    .pargh {
        margin-left: 30px;
    }
   
    .name,.email,.subject,.comment {
        width: 80%;
    }
   
}

 